table{
    width: 100%;
}

.mat-column-description
{

    width: 35% !important;
}
table td{
padding: 10px;
}


.input-icons i {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    padding: 10px;
    color:rgb(5, 5, 5);
    min-width: 50px;
    text-align: center;
}
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    border-color:rgb(11, 11, 11);
    border-style:groove;

    display: center;
    
}

.input-field:focus{

    outline: none !important;
    border-color: #000000;
    box-shadow: 0 0 5px #797d79;
}

table {
    background-color: #e2d9d9;
  }